@page "/"

@using ChatGPT.Shared.Models
@using OpenAI.Net;
@inject IOpenAIService OpenAIService

<div class="h-auto">
    <div class="flex flex-col max-h-screen h-screen">
        <main class="flex-1 flex max-h-screen h-screen">
            <div class="dark hidden bg-[#202123] md:flex md:w-[260px] md:flex-col">
                <div class="flex h-full min-h-0 flex-col ">
                    <div class="scrollbar-trigger flex h-full w-full flex-1 items-start border-white/20">
                        <nav class="flex h-full flex-1 flex-col space-y-1 p-2">
                            <a class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm mb-2 flex-shrink-0 border border-white/20">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>New chat
                            </a>
                            @* <div class="flex-col flex-1 overflow-y-auto border-b border-white/20 -mr-2"> *@
                            @*     <div class="flex flex-col gap-2 text-gray-100 text-sm"> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*          *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l  group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l  group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l  group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l  group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md cursor-pointer break-all pr-14 bg-gray-800 hover:bg-gray-800 group animate-flash"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative">Get environment in .NET Core</div> *@
                            @*             <div class="absolute flex right-1 z-10 text-gray-300 visible"> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <path d="M12 20h9"></path> *@
                            @*                         <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*                 <button class="p-1 hover:text-white"> *@
                            @*                     <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                         <polyline points="3 6 5 6 21 6"></polyline> *@
                            @*                         <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path> *@
                            @*                         <line x1="10" y1="11" x2="10" y2="17"></line> *@
                            @*                         <line x1="14" y1="11" x2="14" y2="17"></line> *@
                            @*                     </svg> *@
                            @*                 </button> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*         <a class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-[#2A2B32] cursor-pointer break-all hover:pr-4 group"> *@
                            @*             <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"> *@
                            @*                 <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path> *@
                            @*             </svg> *@
                            @*             <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative"> *@
                            @*                 Tailwind CSS website template. *@
                            @*                 <div class="absolute inset-y-0 right-0 w-8 z-10 bg-gradient-to-l  group-hover:from-[#2A2B32]"></div> *@
                            @*             </div> *@
                            @*         </a> *@
                            @*     </div> *@
                            @* </div> *@
                            <a class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>Clear conversations
                            </a>
                            <a class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                </svg>Dark mode
                            </a>
                            <a class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>My account
                            </a>
                            <a href="https://help.openai.com/en/collections/3742473-chatgpt" target="_blank" class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                    <polyline points="15 3 21 3 21 9"></polyline>
                                    <line x1="10" y1="14" x2="21" y2="3"></line>
                                </svg>Get help
                            </a>
                            <a class="flex py-3 px-3 items-center gap-3 rounded-md hover:bg-gray-500/10 transition-colors duration-200 text-white cursor-pointer text-sm">
                                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>Log out
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="flex flex-1 flex-col">
                <main class="relative h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1">
                    <div class="flex-1 overflow-hidden">
                        <div class="react-scroll-to-bottom--css-arxps-79elbk h-full dark:bg-[#343541]">
                            <div class="react-scroll-to-bottom--css-arxps-1n7m0yu">
                                <div class="flex flex-col items-center text-sm dark:bg-gray-800 h-full">
                                    <div class="react-scroll-to-bottom--css-arxps-1n7m0yu">
                                        <ConversationView Conversation="_conversation" IsBusy="@_isBusy"></ConversationView>
                                        <div class="w-full h-32 md:h-48 flex-shrink-0"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute bottom-0 left-0 w-full md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent 
                        md:bg-vert-light-gradient bg-white dark:bg-[#343541flex flex-col items-center text-sm 
                        dark:bg-gray-800 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2" style="background: #1f2937">
                        @*<form class="stretch mx-2 flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 lg:mx-auto lg:max-w-2xl xl:max-w-3xl">*@
                        @*<div class="relative flex h-full flex-1 md:flex-col">*@
                        <LoadingIndicator IsBusy="@_isBusy" StatusText="@_statusText"></LoadingIndicator>
                        <ErrorIndicator ErrorText="@_errorText"></ErrorIndicator>
                        <ChatInput SearchModel="@_searchModel" OnGenerateTextCompletionSubmitted="Search" IsBusy="@_isBusy"></ChatInput>
                        @*</div>*@
                        @*</form>*@
                        <div class="px-3 pt-2 pb-3 text-center text-xs dark:text-white/50 md:px-4 md:pt-3 md:pb-6 text-[#ffffff80]">
                            <span><a href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes" target="_blank" rel="noreferrer" class="underline">ChatGPT Mar 23 Version</a>. ChatGPT may produce inaccurate information about people, places, or facts</span>
                        </div>
                    </div>
                </main>
            </div>
        </main>
    </div>
</div>


@code {
    private const bool IsConversationContextVisible = true;
    private bool _isBusy = false;
    private string _statusText = string.Empty;
    private string _errorText = string.Empty;

    readonly SearchModel _searchModel = new()
        {
            SearchText = "",
            SystemContext = "",
            AssistantContext = ""
        };

    readonly Conversation _conversation = new();

    private void SetIsBusy(bool isBusy, string statusText = "")
    {
        _isBusy = isBusy;
        _statusText = statusText;
    }


    private async Task Search()
    {
        _conversation.AddItem("User", _searchModel.SearchText);

        var messagesRequest = new List<Message>
        {
            Message.Create(ChatRoleType.User, _searchModel.SearchText),
        };

        _conversation.AddItem("AI", "");

        SetIsBusy(true, "...");

        try
        {
            _searchModel.SearchText = string.Empty;
            StateHasChanged();
            await foreach (var result in OpenAIService.Chat.GetStream(messagesRequest, o =>
            {
                o.N = 1;
                o.MaxTokens = 2048;
            }))
            {
                _conversation.AppendToCurrentItem(result.Result!.Choices[0].Delta.Content);
                StateHasChanged();
            }

            _searchModel.AssistantContext += _conversation.GetCurrentItemMessage();
        }
        catch (Exception ex)
        {
            _errorText = "An error has occurred";
        }
        finally
        {
            SetIsBusy(false);
        }
    }

}